<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CtrCuenta</servlet-name>
        <servlet-class>controlador.CtrCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrPartida</servlet-name>
        <servlet-class>controlador.CtrPartida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrRespaldo</servlet-name>
        <servlet-class>controlador.CtrRespaldo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrPeriodo</servlet-name>
        <servlet-class>controlador.CtrPeriodo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrInventario</servlet-name>
        <servlet-class>controlador.CtrInventario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrSaldo</servlet-name>
        <servlet-class>controlador.CtrSaldo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadoResultado</servlet-name>
        <servlet-class>EstadoBalance.EstadoResultado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BalanceGeneral</servlet-name>
        <servlet-class>EstadoBalance.BalanceGeneral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BalanzaComprobacion</servlet-name>
        <servlet-class>EstadoBalance.BalanzaComprobacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CtrCuenta</servlet-name>
        <url-pattern>/CtrCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrPartida</servlet-name>
        <url-pattern>/CtrPartida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrRespaldo</servlet-name>
        <url-pattern>/CtrRespaldo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrPeriodo</servlet-name>
        <url-pattern>/CtrPeriodo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrInventario</servlet-name>
        <url-pattern>/CtrInventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrSaldo</servlet-name>
        <url-pattern>/CtrSaldo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadoResultado</servlet-name>
        <url-pattern>/EstadoResultado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BalanceGeneral</servlet-name>
        <url-pattern>/BalanceGeneral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BalanzaComprobacion</servlet-name>
        <url-pattern>/BalanzaComprobacion</url-pattern>
    </servlet-mapping>
</web-app>
